// Параметры размеров текста
$text-title: 34;
$text-m-title: 24;
$text-subtitle: 24;
$text-m-subtitle: 18;
$text-main: 18;
$text-m-main: 14;

//Парамеры размера экрана
$mobile-breakpoints: 544px;
$tablet-breakpoints: 921px;